doctype html
html 
    head 
        title Knowledgebase
        link(rel='stylesheet' href="/bower_components/bootstrap/dist/css/bootstrap.css")
        link(rel='stylesheet' href="/css/style.css") 
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/') Knowledge Base
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/')
                        | Home 
                        span.sr-only (current)
                li.nav-item 
                    a.nav-link(href='/articles/add') Add Article

            ul.nav.navbar-nav.navbar-right 
                if user
                    li 
                        a(href='/users/logout') Logout
                else 
                    li 
                        a(href='/users/register') Register &nbsp 
                    li 
                        a(href='/users/login') Login
    .container
        != messages('message',locals)
        if errors
            each error, i in errors
                div(class="alert alert-danger") #{error.msg}
        block content 
        br 
        hr 
        footer 
            p copyright 2019
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/main.js')
    